**/TEST-Results.xml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
~*.*

# Build results
Output/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Visual Studio code coverage results
*.coverage
*.coveragexml
